ENV=dev
API_BASE_URL=http://localhost:8000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=testdb
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpass
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SELENIUM_GRID_URL=http://localhost:4444
